<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="dbtype" value="MySQL"/>
        <property name="defaultDateFormat" value="yyyy-MM-dd"/>
    </properties>



    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>

    <plugins>
        <plugin interceptor="com.aikon.fin.plugin.SqlCostTimePlugin"></plugin>
        <plugin interceptor="com.aikon.fin.plugin.DecodePlugin"/>
        <plugin interceptor="com.aikon.fin.plugin.EncodePlugin"/>
    </plugins>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC">
                <property name="autoCommit" value="true"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://30.0.0.12:3306/invest?useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="admin"/>
                <property name="password" value="adminuser"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="dao/CurrentBalanceExtendMapper.xml"></mapper>
        <mapper resource="dao/base/dao/CurrentBalanceMapper.xml"></mapper>
    </mappers>


</configuration>